:root {
  font-family: "Nunito Sans", sans-serif;
  --text-color: hsl(200, 15%, 8%);
  --background-color: hsl(0, 0%, 98%);
  --element-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 52%);

  --border-radius: 5px;
  --font-light: 300;
  --font-medium: 600;
  --font-heavy: 800;
  --element-padding: 21px 5%;
  --element-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);;
}

*{
    box-sizing: border-box;
}

html[data-theme="dark"] {
  --text-color: hsl(0, 0%, 100%);
  --background-color: hsl(207, 26%, 17%);
  --element-color: hsl(209, 23%, 22%);
  --input-color: hsl(209, 23%, 22%);
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: var(--font-heavy);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  margin: 0;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0, 0, 10px, 0;
  background-color: var(--element-color);
  padding: var(--element-padding);
  margin-bottom: 10px;
}

#dark-mode-toggle {
  border: none;
  background-color: var(--element-color);
  color: var(--text-color);
  font-size: 16px;
}


/*main page*/
#search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  gap: 30px;
  padding: var(--element-padding);
}

#search-bar-div {
  position: relative;
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

#search-bar {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  padding-left: 40px;
}

#search-icon {
  position: absolute;
  align-self: center;
  left: 20px;
}

#filter {
    width: 200px;
    padding: 0px 20px;
    line-height: 1.5;
}

#country-container{
    width: 100%;
    padding: var(--element-padding);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.country-card {
    width: 275px;
    border-radius: var(--border-radius);
    background-color: var(--element-color);
    padding-bottom: 50px;
}

.country-card-info-container {
    padding: 5px 10px;
}
.country-flag {
  object-fit: contain;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);;
}



.country-name{
    font-weight: var(--font-heavy);
}


.country-card-info-container-inner{
    line-height: .5;
}
.category{
    font-weight: var(--font-medium);
}

.country-info {
    font-weight: var(--font-light);
}

#search-bar, #filter{
  height: 50px;
}

/*shared elements*/
#search-bar, #filter, #back-button, .info-border-countries {
  border: none;
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: var(--element-color)
}

#search-bar, #filter, header, .country-card {
  box-shadow: var(--element-shadow);
}

.error-div{
  text-align:center;
  color: var(--text-color);
  font-size: 50px;
}

/*info section*/

#info-page{
  padding: var(--element-padding);
  margin-top: 40px;
  font-size: 16px;
}

#back-button, .info-border-countries{
  border: none;
  height: 40px;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
}

#back-button {
  width: 125px;
}

#info-page-container {
  margin-top: 80px;
}

.full-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.info-flag-container{
  max-width: 40%;
}

.info-country-flag {
  height: auto;
  width: 100%;
}

.info-container-text{
  display: flex;
  flex-direction: column;
}

.info-container-inner {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
}

.info-border-countries{
  height: 30px;
  margin: 5px;
  width: 125px;
}

@media(max-width: 1000px) {
  .full-info-container{
    flex-direction: column;
  }
  .info-flag-container{
    max-width: 80%;
  }
}

@media (max-width: 575px) {
  #search-filter {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  #search-bar-div{
width: 100%;
max-width: 100%;
  }
}

@media(max-width: 450px) {
  .info-container-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-flag-container {
    max-width: 100%;
  }
}
